In [2]:
import pandas as pd
df = pd.read_csv("/adult.data.csv") # Your file path
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [32]:
# 1. Count how many men and women (column sex) are present in this dataset.
sex_count = df['sex'].value_counts()

print(sex_count)

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [4]:
# 2. What is the average age of men (age column) across the entire dataset?
mean_age_men = df[df['sex'] == 'Male']['age'].mean().round()

print("Average age of men:", mean_age_men)

Average age of men: 39.0

In [43]:
# 3. What is the proportion of United States citizens (native-country column)?
us_citizen_share = (df['native-country'] == 'United-States').mean() * 100

print(f"Proportion of US citizens: {us_citizen_share:.2f}%")

Proportion of US citizens: 89.59%

In [13]:
# 4-5. Calculate the mean and standard deviation of age for those earning more than 50K per year (salary column) and for those earning less than 50K per year.

stats_income = df.groupby('salary')['age'].agg(['mean', 'std']).round(2)

print(stats_income)

         mean    std
salary
<=50K   36.78  14.02
>50K    44.25  10.52

In [44]:
# 6.  Is it true that people earning more than 50K have at least a higher education?
# (education column â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, or Doctorate)

# Define the list of "higher education and above"
higher_edu = ["Bachelors", "Prof-school", "Assoc-acdm", 
              "Assoc-voc", "Masters", "Doctorate"]

# Filter those who earn more than 50K
high_income = df[df['salary'] == '>50K']

# Check if there are people without higher education
non_higher = high_income[high_income['education'].isin(higher_edu) == False]

print("Number of people earning >50K without higher education:", len(non_higher))
print("Examples:")
print(non_higher['education'].value_counts())

Number of people earning >50K without higher education: 3306
Examples:
education
HS-grad         1675
Some-college    1387
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

In [45]:
# 7. Display age statistics for each race (race column) and gender (sex column).
# Use groupby and describe.
# Find the maximum age of males of the Asian-Pac-Islander race this way.

# Group by race and gender, and display age statistics
stats_race = df.groupby(['race', 'sex'])['age'].describe()
print(stats_race)

# Find the maximum age of males of the Asian-Pac-Islander race
max_age_API_men = df[(df['race'] == 'Asian-Pac-Islander') & (df['sex'] == 'Male')]['age'].max()
print("Maximum age of Asian-Pac-Islander males:", max_age_API_men)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Maximum age of Asian-Pac-Islander males: 90

In [6]:
# 8. Among whom is the proportion of high earners (>50K) higher: married or single men (marital-status column)?
# We consider married those whose marital-status starts with "Married"
# (Married-civ-spouse, Married-spouse-absent, or Married-AF-spouse), and the rest are considered single.

# Filter only men
men = df[df['sex'] == 'Male'].copy()

# Married if marital-status starts with "Married"
men['married'] = men['marital-status'].str.startswith('Married')

# Calculate the proportion of men earning >50K among married and single men
income_share = (
    men.groupby('married')['salary']
       .apply(lambda x: (x == '>50K').mean() * 100)
       .round(2)
)

print(income_share)

married
False     8.45
True     44.05
Name: salary, dtype: float64

In [47]:
# 9. What is the maximum number of hours a person works per week (hours-per-week column)?
# How many people work this number of hours, and what percentage of them are high earners (>50K)?


# Maximum number of hours per week
max_hours_per_week = df['hours-per-week'].max()
print("Maximum number of hours per week:", max_hours_per_week)

# Filter people who work the maximum number of hours
max_hours_people = df[df['hours-per-week'] == max_hours_per_week]

num_people = len(max_hours_people)
print("People who work the maximum number of hours:", num_people)

# Percentage of people with salary >50K
high_income_pct = (max_hours_people['salary'] == '>50K').mean() * 100
print(f"Percentage of people with salary >50K: {high_income_pct:.2f}%")

Maximum number of hours per week: 99
People who work the maximum number of hours: 85
Percentage of people with salary >50K: 29.41%

In [48]:
# 10. Calculate the average working hours (hours-per-week) for low and high earners (salary column) for each country (native-country).

# Average working hours by country and salary
hours_stats = df.groupby(['native-country', 'salary'])['hours-per-week'].mean().round(2)

print(hours_stats)

# Create pivot-table
hours_pivot = df.pivot_table(
    index='native-country', 
    columns='salary', 
    values='hours-per-week', 
    aggfunc='mean'
).round(2)

print(hours_pivot)

native-country  salary
?               <=50K     40.16
                >50K      45.55
Cambodia        <=50K     41.42
                >50K      40.00
Canada          <=50K     37.91
                          ...
United-States   >50K      45.51
Vietnam         <=50K     37.19
                >50K      39.20
Yugoslavia      <=50K     41.60
                >50K      49.50
Name: hours-per-week, Length: 82, dtype: float64
salary                      <=50K   >50K
native-country
?                           40.16  45.55
Cambodia                    41.42  40.00
Canada                      37.91  45.64
China                       37.38  38.90
Columbia                    38.68  50.00
Cuba                        37.99  42.44
Dominican-Republic          42.34  47.00
Ecuador                     38.04  48.75
El-Salvador                 36.03  45.00
England                     40.48  44.53
France                      41.06  50.75
Germany                     39.14  44.98
Greece                      41.81  50.62
Guatemala                   39.36  36.67
Haiti                       36.33  42.75
Holand-Netherlands          40.00    NaN
Honduras                    34.33  60.00
Hong                        39.14  45.00
Hungary                     31.30  50.00
India                       38.23  46.48
Iran                        41.44  47.50
Ireland                     40.95  48.00
Italy                       39.62  45.40
Jamaica                     38.24  41.10
Japan                       41.00  47.96
Laos                        40.38  40.00
Mexico                      40.00  46.58
Nicaragua                   36.09  37.50
Outlying-US(Guam-USVI-etc)  41.86    NaN
Peru                        35.07  40.00
Philippines                 38.07  43.03
Poland                      38.17  39.00
Portugal                    41.94  41.50
Puerto-Rico                 38.47  39.42
Scotland                    39.44  46.67
South                       40.16  51.44
Taiwan                      33.77  46.80
Thailand                    42.87  58.33
Trinadad&Tobago             37.06  40.00
United-States               38.80  45.51
Vietnam                     37.19  39.20
Yugoslavia                  41.60  49.50

In [8]:
# 11. Group people by age groups young, adult, retiree, where:
# young corresponds to 16â€“35 years
# adult corresponds to 35â€“70 years
#retiree corresponds to 70â€“100 years

# Function to classify by age
def assign_age_group(age):
    if 16 <= age < 35:
        return 'young'
    elif 35 <= age < 70:
        return 'adult'
    elif 70 <= age <= 100:
        return 'retiree'
    else:
        return 'unknown'  # To handle possible anomalous values

# Create a new column 'age_group'
df['age_group'] = df['age'].apply(assign_age_group)

# Check the distribution
print(df['age_group'].value_counts())

age_group
adult      17883
young      14049
retiree      629
Name: count, dtype: int64

In [10]:
# 12-13.Determine the number of people earning >50K in each age group (AgeGroup column),
# and also display the name of the age group where high earners (>50K) are most frequent.

# Total number of people in each age group
age_group_counts = df['age_group'].value_counts()

# Number of people earning >50K in each age group
high_income_counts = df[df['salary'] == '>50K']['age_group'].value_counts()

# Share of high earners in each group (%)
high_income_share = (high_income_counts / age_group_counts * 100).round(2)

print("Share of people earning >50K by age group (%):")
print(high_income_share.sort_values(ascending=False))

# Age group with the highest share
most_high_income_group = high_income_share.idxmax()
print("\nAge group with the highest proportion of >50K earners:", most_high_income_group)

Share of people earning >50K by age group (%):
age_group
adult      34.89
retiree    17.97
young      10.59
Name: count, dtype: float64

Age group with the highest proportion of >50K earners: adult

In [51]:
# 14. Group people by occupation (occupation column) and determine the number of people in each group.
# Then write a filter function filter_func that returns only those groups 
# where the average age (age column) is not greater than 40 and all workers work more than 5 hours per week (hours-per-week column).


# Number of people in each occupation group
occupation_counts = df.groupby('occupation').size()
print("Number of people in each occupation group:")
print(occupation_counts)

def filter_func(group):
    return (group['age'].mean() <= 40) and (group['hours-per-week'].min() > 5)

# Group by occupation
occupation_groups = df.groupby('occupation')

# Apply filter_func and keep only groups that meet the conditions
filtered_occupations = occupation_groups.filter(filter_func)['occupation'].unique()

print("Occupations that satisfy the filter conditions:")
print(filtered_occupations)

Number of people in each occupation group:
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64
Occupations that satisfy the filter conditions:
['Armed-Forces']